<div class="flex absolute top-28  mt-10 right-0 left-0 justify-center " >
    <ul class="relative flex flex-col sm:flex-row r sm:space-x-4 space-y-2 sm:space-y-0 font-medium  ">
        <li >
            <button type="button" class="px-6 py-3.5 w-44 h-10  flex items-center justify-center text-2xl font-medium text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg text-center " (click)="chooseAnimals()">Zwierzęta</button>
    </li>
        <li>
            <button type="button" class="px-6 py-3.5 w-44 h-10  flex items-center justify-center text-2xl font-medium text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg text-center " (click)="chooseClothes()">Ubrania</button>
    </li>
        <li>
            <button type="button" class="px-6 py-3.5 w-44 h-10  flex items-center justify-center text-2xl font-medium text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg text-center " (click)="chooseSchoolSupplies()">Przybory szkolne</button>
        </li>
</ul>
</div>
